<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroRealm"/>

    </bean>





    <!-- shiro filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/user/loginui"/>
        <property name="successUrl" value="/home"/>
        <property name="filterChainDefinitions">
            <value>
                <!-- 静态资源允许访问 -->
                /assets/** = anon
                <!-- 登录页允许访问 -->
                /user/register/** = anon
                /user/login/** = anon
                <!-- 其他资源需要认证 -->
                /** = authc
            </value>
        </property>
    </bean>


    <!--<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">-->
        <!--<property name="realm" ref="shiroRealm"/>-->
        <!--&lt;!&ndash; cacheManager &ndash;&gt;-->
        <!--<property name="cacheManager" ref="cacheManager"/>-->
        <!--&lt;!&ndash; sessionManager &ndash;&gt;-->
        <!--<property name="sessionManager" ref="sessionManager" />-->
    <!--</bean>-->

    <!--<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>-->

    <!--&lt;!&ndash; shiro redisManager &ndash;&gt;-->
    <!--<bean id="redisManager" class="org.crazycake.shiro.RedisManager">-->
        <!--<property name="host" value="127.0.0.1"/>-->
        <!--<property name="port" value="6379"/>-->
        <!--<property name="expire" value="1800"/>-->
        <!--&lt;!&ndash; optional properties:-->
        <!--<property name="timeout" value="10000"/>-->
        <!--<property name="password" value="123456"/>-->
        <!--&ndash;&gt;-->
    <!--</bean>-->

    <!--&lt;!&ndash; redisSessionDAO &ndash;&gt;-->
    <!--<bean id="redisSessionDAO" class="org.crazycake.shiro.RedisSessionDAO">-->
        <!--<property name="redisManager" ref="redisManager" />-->
    <!--</bean>-->

    <!--&lt;!&ndash; sessionManager &ndash;&gt;-->
    <!--<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">-->
        <!--<property name="sessionDAO" ref="redisSessionDAO" />-->
    <!--</bean>-->

    <!--&lt;!&ndash; cacheManager &ndash;&gt;-->
    <!--<bean id="cacheManager" class="org.crazycake.shiro.RedisCacheManager">-->
        <!--<property name="redisManager" ref="redisManager" />-->
    <!--</bean>-->

</beans>