<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
        default-autowire="byName" default-lazy-init="true">



    <bean id="articleViewFilter" class="cn.edu.zucc.filter.ArticleViewFilter"></bean>

    <!--在ArticleViewFilter中注入artcielservice-->
    <bean id="ArticleViewFilter" class="cn.edu.zucc.filter.ArticleViewFilter"  >
        <property name="articleService" ref="articleService" ></property>
    </bean>
    <bean id="articleService" class="cn.edu.zucc.service.impl.ArticleServiceImpl" />


</beans>